/*=====================  BODY =======================*/
body {
	margin: 0px;
	font-family: Verdana, sans-serif;
}

/*=====================  HEADER AND FOOTER =======================*/

header, footer {
	background-color:#1F2937;
}

/*================  HEADER ====================*/

.header-top, .nav-top, .header-main{
	display: flex;
}

.header-main{
	margin: 40px;
}

.header-text {
	margin-left: 150px;
	margin-bottom: 80px;
	width: 50%;
	color:#F9FAF8;
}

/*======== Header Navigation Bar =============*/

ul {
	padding: 0px;
	margin-left: 300px;
	margin-top: 25px;
	width: 50%;
}

ul li {
	list-style:none;
	display:inline;
	padding: 0px 25px;
 }
 ul li a{
	
	padding: 5px;
 }

/*=================  MAIN TAG ===========================*/

blockquote {
	background-color: #E5E7EB;
	padding: 100px;
	font-size: 36px;
	color: #1F2937;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}
blockquote p {
	float: right;
	font-weight: bold;
	font-size: 18px;
	padding: 50px;
}

.call-to-action{
	background-color:#3882F6;
	color: #E5E7EB;
	padding: 1%;
	margin: 40px auto;
	font-size: 18px;
	border-radius: 10px;
	width: 70%;
}
button {
	border: none;
	padding: 0px;
}

.call-to-action button {
	float: right;
	margin-right: 10%;

}

/*=====================  HEADINGS =======================*/

h1 {
	color:#F9FAF8;
	font-size:48px;
	font-weight:bolder;
}

h2 {
	font-size: 36px;
	color: #1F2937;
	font-weight: bolder;
	text-align: center;
}

h3 {
	color:#F9FAF8;
	font-size:24px;
	margin-left: 200px;
	width: 50%;
}

h4{
	font-size: 24px;
	margin-bottom: 5px;
}


/*=====================  ANCHOR TAGS =======================*/

a {
	text-decoration: none;
	color:#E5E7EB;
}

li a:hover {
	background-color:#E5E7EB;
	color:#1F2937;
}

button a {
	background-color: #3882F6;
	padding: 10px 20px;
	border-radius: 5px;
}

button a:hover {
	background-color: #E5E7EB;
	color:#3882F6;
}

.call-to-action button a {
	border:2px solid #E5E7EB;
}


 /*======== IMAGE FORMATING =============*/

img {

	width:160px;
	height:auto;
}

.header-img img{
	width:320px;
	height: 213px;
	margin: 20px;
}

.header-img {
	margin-left: 100px;
	width: 50%;
}

.random-info {
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.random-info p {
	margin: 10px;
}

.random-info img {
	border-radius: 10px;
}

/*===================  FOOTER ================*/

footer {
	padding: 30px;
	color: #F9FAF8;
	text-align: center;
}